@import url('https://fonts.googleapis.com/css?family=Lora|Slabo+27px');
body {
  background: #876ED7;
  background-attachment: fixed;
  background-image: url(../image/background1.jpg);
}
h1, h2 {
  color: #200772;
  font-family: 'Lora', serif;
}
.head1{
  text-align: center;
}
div {
  margin: 60px;
  padding: 40px;
  background: #6C8CD5;
}
/*.ground{
    background: #6C8CD5;
}*/
p a {
  color:#06266F;
}
button.style a {
  border: 1px solid #06266F;
  border-radius: 5px;
  padding: 10px 20px;
  margin: -10px;
  background: #408AD2;
  font-family: 'Slabo 27px', serif;
  text-decoration: none;
  height: 100%;
  color: #06266F;
}
.post__time {
  margin: 5px;
}
